*
{
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('login_image.jpg');
    background-repeat: none;
    background-size: cover;
   
    
}
body::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(10px);
    z-index: -1; 
}

.login-container {
    background: white;
    padding: 2.5rem 2rem;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 16px 32px rgba(0,0,0,0.3);
    background: linear-gradient(to right, rgba(164, 216, 175, 0.8), rgba(6, 127, 136, 0.8))
}

.tab {
    overflow: hidden;
    border-bottom: 1px;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-around;
    border-radius: 15px 15px 0 0;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: rgb(0, 0, 0);
    width: 50%;
    border-radius: 15px 15px 0 0;
    position: relative;
}

.tab button:hover {
    background-color: #3fe84a;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 30%;
    width: 35%;
    height: 35%;
}

.tab button.active {
    background-color: #3f3d6b;
    color: rgb(244, 243, 245);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10%;
    width: 35%;
    height: 35%;
}

.tabcontent {
    display: none;
}

.tabcontent h2 {
    margin-bottom: 1.5rem;
    color: #333;
    font-weight: 500;
}

.input-group {
    margin-bottom: 1.2rem;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
    font-weight: 500;
}

.input-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-group input:focus {
    border-color: #6a11cb;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
}

button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 10px;
    background-color: #2575fc;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: 600;
}

button:hover {
    background-color: #1a54b8;
    transform: translateY(-2px);
}
