* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('login_image.jpg');
    background-repeat: none;
    background-size: cover;
}
body::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(5px);
    z-index: -1; 
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s ease-in-out;
}

.signin-box {
    text-align: center;
}

.signin-box h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
    animation: slideIn 1s ease-in-out;
    text-shadow: 3px 0px 5px rgb(56, 52, 52);
}

.input-group {
    position: relative;
    margin-bottom: 30px;
}

.input-group input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.input-group input:focus {
    border-color: #9b59b6;
    box-shadow: 0 0 10px rgba(155, 89, 182, 0.5);
}

.input-group label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
    transition: top 0.3s, transform 0.3s, font-size 0.3s, color 0.3s;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-100%);
    font-size: 12px;
    color: #9b59b6;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #9b59b6;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
    animation: bounceIn 1s ease-in-out;
}

button:hover {
    background: #8e44ad;
    box-shadow: 0 0 10px rgba(155, 89, 182, 0.5);
}

.footer-links {
    margin-top: 20px;
}

.footer-links a {
    color: #9b59b6;
    
}

